@model List<Category> 

<div class="row d-flex justify-content-center p-10">
    <div class="col-2  ">
        <div id="mySidenav" class="sidenav">
            @foreach (var category in Model.OrderBy(i => i.Order))
            {
                <a asp-area="Customer" asp-controller="Home" asp-action="Index" asp-route-categoryId="@category.CategoryId" class="navbar-brand text-uppercase my-4 ps-4">@category.Name</a>
            }
        </div>
    </div>
</div>